		<footer>
			<p><a href="{{ path('lap_mentions_homepage') }}">Mentions légales</a> &copy; 2016 Les Apprentis-Sages | Site développé par <a href="http://www.ortusagenceweb.fr" target="_blank">Ortus Agence Web</a></p>
		</footer>